@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

.detail{
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}


.detail__image{
    width: 520px;
    height: 694px;
    border-radius: 15px;
}
.name{
    font-size: 40px;
}
.size{
    font-size: 25px;
}

.price{
    color: #7f8c8d;
    font-weight: bolder;
    font-size: 27px;
}
.content{
    margin-left: 20px;
}

.goToCart{
    font-size: 20px;
}
.goToCart:hover{
    color: aquamarine;
}